@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.container-center {
    max-width: 850px;
    margin: auto;
}
.container-use{
    padding-left: 2rem;
    padding-right: 2rem;
}

/** link**/