@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-color: rgb(0, 162, 255);
    --secondary-color: #9CA3AF;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5px;
}

hr {
    margin: 2rem 0rem;
    color:var(--primary-color);
}

.container-center {
    max-width: 850px;
    margin: auto;
}

.container-use {
    padding-left: 2rem;
    padding-right: 2rem;
}

/** link**/
.primary-link {
    background-color: var(--secondary-color);
    color: BLACK;
}

.primary-link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}


.secondary-link {
    color: black;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.non-bullet-list {
    list-style: none;
}

.inlinelist {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem
}

.innavigation {
    font-weight: bold;
    font-size: 1.2rem;
}

.nonbulletnavlist {
    list-style: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    text-align: right;

}

.inlinenavlist {
    display: inline;

}

.thirdlink {
    text-decoration: none;
    color: white;
    padding: 0rem 0.5rem;

}

.navigation .link-active {
    font-weight: bold;
}

.header {
    padding: 2rem
}

.website-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.image-heading {
    font-size: 2rem;
    color: orangered;
    padding-top: 1rem;
    text-align: center;
}

.sectionone {
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 0.5rem 0.5rem;
    padding-bottom: 1rem;
}

.headinginsectionone {
    padding-top: 1rem;
}

.sectiontwo {
    text-align: center;
    padding-bottom: 1rem;
}

.container-sectionone {
    margin: auto;
    max-width: 500px;
    padding-bottom: 1.5rem;
}

.container-sectiontwo {
    margin: auto;
    max-width: 500px;
    padding-bottom: 2rem;
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}

.infooter {
    font-weight: bold;
    font-size: large;
}

.footerlist {
    list-style: none;
    display: inline;
    padding: 0rem 2rem;
}

.footerlink {
    text-decoration: none;
    color: white;
    border: 3px solid #9CA3AF;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;

}


.footer ul {
    padding-inline-start: 0px;
}


.project-heading {
    text-align: center;
    text-decoration: underline;
}

.container-project-list {
    
}

